In [87]:
from sklearn.cross_validation import cross_val_score
def cv(M, X, Y):
    # Process cross validation
    scores = cross_val_score(M, X, Y, cv=10, n_jobs=-1)
    print("SCORE %f" % scores.mean())

In [88]:
X = pd.read_csv('../data/madeline/madeline_train.data', header=None, sep=' ')
# For unknown for me reason, X is read with last column filled with NaN
X.drop(X.columns[[-1]], axis=1, inplace=True)
X.head(5)

,0,1,2,3,4,5,6,7,8,9,...,249,250,251,252,253,254,255,256,257,258
0,466,482,468,478,500,475,473,508,513,478,...,526,522,424,405,469,442,493,505,482,479
1,477,495,502,519,480,473,471,496,509,477,...,495,529,483,470,475,434,495,560,479,477
2,453,531,476,487,493,481,475,497,505,477,...,496,478,529,562,469,469,531,438,481,476
3,514,484,437,488,464,471,464,471,486,479,...,468,463,474,409,446,533,502,453,484,469
4,487,491,516,497,486,484,486,462,506,474,...,487,508,482,622,506,521,481,466,473,485

In [89]:
Y = pd.read_csv('../data/madeline/madeline_train.solution', header=None, sep=' ')[0]
Y.head(5)

0    1
1    1
2    0
3    0
4    0
Name: 0, dtype: int64

In [10]:
# Best score so far 5 perc f_classif + RF 200 = 0.883772
import sklearn
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline
from sklearn.feature_selection import SelectPercentile

# Learn model
M = Pipeline([
    ('feature_selection', SelectPercentile(percentile=5, score_func=sklearn.feature_selection.f_classif)),
    ('classification', RandomForestClassifier(n_estimators=200, random_state=1, n_jobs=-1))
]).fit(X, Y)

# Perform cross validation
cv(M, X, Y)

SCORE 0.883772